.original-price {
    text-decoration: line-through;
    text-decoration-color: red;
  }

.payment-form {
  border: 1px solid #749c5a;
  border-radius: 5px;
  padding: 5px;
  height: 170px;
  background: #b9fa91;
  box-shadow: 0 0 10px #b9fa91;
}

@media (max-width: 768px) {
  .payment-form {
    border: 1px solid #749c5a;
    border-radius: 5px;
    padding: 5px;
    height: 180px;
    background: #b9fa91;
    box-shadow: 0 0 10px #b9fa91;
  }
}

.content-listing li {
  font-size: 1.2em; /* Adjust the size as needed */
  font-weight: 400;
}