body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    color: #FFFFFF;
    background-color: #041D4C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.top-container {
    max-width: 1800px; /* Largura máxima do contêiner de texto */
    width: 100%;
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-div {
    justify-content: center;
    align-items: center;
    flex: 3;
    width: 60%;
}

.right-div {
    flex: 2;
    width: 40%;
}

.watch-container {
    max-width: 720px; /* Largura máxima do contêiner de texto */
    color: #000000;
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
}
.watch-container img {
    max-width: 100%; /* A imagem ocupa toda a largura da coluna */
    display: block;
}
.watch-container .text {
    max-width: 50%; /* Largura máxima do texto */
    text-align: left; /* Alinhar o texto à esquerda */
}

.watch-header-container {
    max-width: 720px; /* Largura máxima do contêiner de texto */
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.text-header {
    align-items: center;
    padding: 10px;
}

.recommendations a {
    color: white; /* Set the color of the links to white */
    text-decoration: none; /* Remove underline */
}

.recommendations a:hover {
    color: white; /* Set the color of the links to white when hovered */
}

/* Watch page form */

.watch-video-description {
  max-width: 500px;
  margin: 0 auto; 
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.watch-form-container {
    background-color: #fbffd9;
    color: #000000;
    max-width: 600px;
    margin: 0 auto; 
    padding: 10px 20px 0px 20px;
    border-radius: 5px;
    box-shadow: 0 0 1px #fbffd9;
  }
  .watch-form-container form {
    display: flex;
    flex-direction: column;
  }
  .watch-form-container p {
    text-align: left;
  }
  .watch-form-container label {
    text-align: left; /* Alinhar os rótulos à esquerda */
    margin-bottom: 0px;
  }
  .watch-form-container input,
  .watch-form-container textarea {
    width: 90%; /* Os campos do formulário ocupam toda a largura do contêiner do formulário */
    padding: 5px 10px 5px 5px;
    margin: 0px 0px 1px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .watch-form-container .acceptance-container {
    display: flex;
    align-items: center;
  }
  .watch-form-container .acceptance-container label {
  white-space: normal; /* Define a quebra de linha automática para o texto */
  line-height: 1.2; /* Ajusta o espaçamento entre as linhas (experimente diferentes valores) */
  }
  .watch-form-container .acceptance-container input[type="checkbox"] {
    margin-right: 1px; /* Espaçamento entre o checkbox e o rótulo */
    max-width: 10%;
  }
  .watch-form-container button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2px; /* Adicione margem na parte superior do botão */
    font-size: 16px; /* Tamanho da fonte desejado, por exemplo, 16px */
  }
  .watch-form-container button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
  }


  /* Feed page */

  .feed-header {
    margin: 20px 10px 10px 10px;
    color: white; /* Set the color of the links to white */
  }

  .feed-button a {
    color: white; /* Set the color of the links to white */
  }

  .feed-content {
    margin: 20px 10px 10px 10px;
  }

  .row-div {
    max-width: 2500px; /* Largura máxima do contêiner de texto */
    width: 100%;
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  .each-div {
    margin: 10px 10px 10px 10px;
    flex: 1;
    width: 25%;
}

.each-div a {
  color: white; /* Set the color of the links to white */
  text-decoration: none; /* Remove underline */
}

.each-div a:hover {
  color: white; /* Set the color of the links to white when hovered */
}

.btn-conhecer-curso {
  background-color: #007BFF; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda padrão do botão */
  border-radius: 5px; /* Arredondamento das bordas */
  text-align: center; /* Centraliza o texto horizontalmente */
  text-decoration: none; /* Remove a decoração de link do texto */
  display: block;
  font-size: 18px; /* Tamanho da fonte */
  cursor: pointer; /* Altera o cursor ao passar por cima */
  margin: 0 auto;
}
.btn-conhecer-curso:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}
.btn-conhecer-curso img {
  margin: 0px 10px 0px 0px;
}

.btn-acessar-curso {
  background-color: #007BFF; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remove a borda padrão do botão */
  border-radius: 5px; /* Arredondamento das bordas */
  text-align: center; /* Centraliza o texto horizontalmente */
  text-decoration: none; /* Remove a decoração de link do texto */
  display: block;
  font-size: 18px; /* Tamanho da fonte */
  cursor: pointer; /* Altera o cursor ao passar por cima */
  margin: 0 auto;
}
.btn-acessar-curso:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}
.btn-acessar-curso img {
  margin: 0px 10px 0px 0px;
}

/* Estilos de layout responsivo para dispositivos móveis */
@media only screen and (max-width: 768px) {
    .top-container {
        flex-direction: column; /* Stack the divs vertically */
    }
    .left-div,
    .right-div {
        width: 100%; /* Make both divs take full width */
    }

    .watch-container {
        flex-direction: column; /* Alterado para posicionar a imagem acima do texto em dispositivos móveis */
    }
    .watch-container img {
        max-width: 100%; /* A imagem ocupa toda a largura em dispositivos móveis */
    }
    .watch-container .text {
        max-width: 100%; /* O texto ocupa toda a largura em dispositivos móveis */
        text-align: center; /* Centralizar o texto em dispositivos móveis */
    }
    .video-container iframe {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Maintain aspect ratio */
    }
  }
  